<div class="image1">
  <a href="https://www.google.com/" target="_blank"><img src="images/googlelogo.png" width="140" height="60" /></a>
</div>
<div class="image2">
  <a href="https://stackoverflow.com/" target="_blank"><img src="images/pic2.png" width="180" height="100" /></a>
</div>
<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <div class="image3">
          <a href="https://www.instagram.com/" target="_blank"><img src="images/dbinsta.png" width="60" height="60" /></a>
        </div>
        <h2>To Visual Snippets</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Ask anything bootcamp related!</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter a bootcamp question">
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Results:</h3>
        <ul id="example-list" class="list-group">
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>