<div id="searchhistory">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">






<div class="card">
          <div class="card-header">
            <h3 style="color: black;">Search History:</h3>
          </div>
          <div class="card-body">
            <ul id="glossaryList" class="list-group"></ul>
          </div>
</div>

        <ul id="searchhistory-list" class="list-group">
          
        </ul>



        <script>
  var historyArray = JSON.parse(localStorage.getItem("history"));
  historyArray.forEach(function(item) {
    $('#searchhistory-list').append('<li>' + item + "</li>");
  });
</script>



      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../assets/js/index.js"></script>