body {
  background-color: darkgreen;
  background-repeat: no-repeat;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: white;
}

.list-group-item {
  line-height: 2.5;
}
.image1{
  float: right;
  margin-right: 30px;
  margin-top:55px;
}
.image2{
  float: left;
  margin-left:20px; 
  margin-top: 10px;
}
.image3{
 float: right;
 margin-right: 160px;
}
.image3:hover{
  opacity:0.4;
  background-color: aqua;

}
.image1:hover{
  opacity: 0.4;
  background-color: aqua;
 
}
.image2:hover{
  opacity: 0.4;
  background-color: aqua;
}